<ion-view view-title="Reportar Bugs">
  <ion-content>

<label class="item item-input item-stacked-label">
	<span class="input-label">Descrição</span>
	<textarea placeholder="Descreva a descrição do Bug" rows="8" ng-model="descbug">
	</textarea>
</label>

<button id="curiar-button1" class="button button-energized button-block icon-left ion-bug" ng-click="reportaBug(descbug)">Reportar Bug</button>

<button id="curiar-button1" class="button button-energized button-block icon-left ion-bug" ng-click="takePhotos()">Open ALPR</button>

  </ion-content>
</ion-view>
