<ion-view view-title="Carro Curioso">
  <ion-content class="padding">
<form id="curiar-form1" class="list">

      {{consulta}}

      <div class="col" style="text-align: center;">
        <button class="button button-large button-block icon-left button-energized ion-camera" ng-click="takePhotos()">Foto da Placa</button>
      </div>

      

      <label class="item item-input" id="curiar-input2">
        <span class="input-label">Placa</span>
        <input type="text" placeholder="AAA0000" ng-model="$root.placa" ng-change="$root.placa=$root.placa.toUpperCase();">
      </label>

      <button id="curiar-button1" class="button button-energized button-block icon-left ion-android-car" ng-click="consultarPlaca($root.placa)">Curiar</button>

      <div class="list {{showB}}" >
        <label class="item item-input item-select">
          <div class="input-label">Carro</div>
          <select ng-model="dadocarro" ng-change="selecionaCarro(dadocarro)">
            <option ng-repeat="dadocarro in dadoscarro" selected>{{dadocarro.codigo_fipe}} / {{dadocarro.marca}} / {{dadocarro.modelo}}</option>
          </select>
        </label>
      </div>


      <div id="curiar-markdown1" class="show-list-numbers-and-dots" ng-model="consulta" >
        <p style="color:#000000;">Marca: {{dadoscarro[item].marca}}</p>
        <p style="color:#000000;">Modelo: {{dadoscarro[item].modelo}}</p>
        <p style="color:#000000;">Ano: {{dadoscarro[item].ano}}</p>
        <p style="color:#000000;">Fipe: {{dadoscarro[item].codigo_fipe}}</p>
        <p style="color:#000000;">Importado: {{dadoscarro[item].importado}}</p>
        <p style="color:#000000;">Cor: {{dadoscarro[item].cor}}</p>
        <p style="color:#000000;">Chassis: {{dadoscarro[item].chassi}}</p>
        <p style="color:#000000;">Valor: {{dadoscarro[item].valor}}</p>
        <p style="color:#000000;">UF: {{dadoscarro[item].uf}}</p>
        <p style="color:#000000;">Município: {{dadoscarro[item].municipio}}</p>
      </div>


      <div class="col" style="text-align: center;">
        <button class="button icon-left ion-thumbsup button-energized {{showB}}" padding-left ng-click="definirPlaca()">Definir Placa Fipe</button>
      </div>

      <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="display: none" id="pic" imageonload="doThis()">

    </form>
  </ion-content>
</ion-view>
